body {
    margin: 0;
    display: flex;
    font-family: 'Work Sans', sans-serif;
    flex-direction: column;
}

p{
    margin: 0 !important;
    font-size: 13px;
}

h6{
    font-size: 18px !important;
    margin-top: 6px !important;
    margin-bottom: 3px !important;
}

h3{
    padding-bottom: 40px !important;
}

.header {
    background-color: #34c0eb;
    width: -webkit-fill-available;
    position: relative;
    padding: 16px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    color: darkgray;
    font-size: 50px;
}

.logo {
    width: 350px;
}

.container {
    display: flex;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
}

.cta {
    height: 70px;
    width: 320px;
    font-size: 22px;
    border-radius: 18px;
    background-color: azure;
    cursor: pointer;
}

.content_frame {
    width: 100%;
    height: calc(100% - 101px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 16px;
    border: 1px solid black;
    border-radius: 12px;
}

.background_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
}

.content_search {
    width: 90%;
    height: 90%;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 16px;
    border: 1px solid black;
    border-radius: 12px;
}

.functions{
    justify-content: center;
    display: flex;
    width: 100%;
    border-bottom: solid darkgray 1px;
    padding-bottom: 12px;
}

.select{
    flex-direction: row;
    display: flex;
}

.select{
    height: fit-content;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
}

.list{
    width: 100%;
    height: 100%;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.doctors{
    width: 80%;
    height: 90%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;    
}

.next-prev-img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.cardLeft{
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cardRight{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer{
    display: flex;
    width: 90%;
    height: 70%;
}

.card_img{
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.error{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.errorPopup{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 16px;
    border: 1px solid black;
    border-radius: 12px;
}

/* Responsive Design width < 745px **/

@media(max-width: 745px){
    .header {
        flex-direction: column;
    }

    .content {
        margin: 12px;
    }

    .content_frame {
        height: calc(100% - 139px);
    }

    h3 {
        text-align: center;
    }

    .select {
        flex-direction: column;
        margin-bottom: 8px;
    }

    .functions {
        flex-direction: column;
        align-items: center;
    }

    .cardContainer {
        flex-direction: column;
    }

    .cardLeft {
        width: 100%;
    }

    .cardRight {
        width: 100%;;
    }

    .content_search {
        overflow-wrap: anywhere;
    }
}